# Django Secret Key
# ------------------
SECRET_KEY=<ANY_RAMDOM_STRING>


# Django settings module
# -----------------------
DJANGO_SETTINGS_MODULE=data_center.settings.development


# Database config
# ----------------
POSTGRESQL_DB_NAME=
POSTGRESQL_DB_USER=
POSTGRESQL_DB_PASSWORD=
POSTGRESQL_DB_HOST=db
POSTGRESQL_DB_PORT=5432


# Cache Settings
# ---------------
CACHE_LOCATION=redis:6379


# Celery Settings
# ----------------
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0


# Admin config
# -------------
ADMIN_SUPERUSER_USERNAME=
ADMIN_SUPERUSER_EMAIL=
ADMIN_SUPERUSER_PASSWORD=


# Youtube API Key
YOUTUBE_API_KEY=
